<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902474422392-emjudu5q9dbftamo1g1pant5488p1gfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902474422392-emjudu5q9dbftamo1g1pant5488p1gfe</string>
	<key>API_KEY</key>
	<string>AIzaSyDzTBcBCXu0G8NA4lVhtIR5e991yujPZ8E</string>
	<key>GCM_SENDER_ID</key>
	<string>902474422392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.euneext.book.eunextbook</string>
	<key>PROJECT_ID</key>
	<string>allquestionbackup</string>
	<key>STORAGE_BUCKET</key>
	<string>allquestionbackup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902474422392:ios:de807473c5d1819e7e758d</string>
	<key>DATABASE_URL</key>
	<string>https://allquestionbackup-default-rtdb.firebaseio.com</string>
</dict>
</plist>